<div class="jumbatron text-center">
<h1 class="display-3">{{title}}</h1>
<br><br><p class="lead">Jot down your ideas new video link</p><br><br>
<a href="/ideas/add" style="color:red" class="btn btn-dark btn-lg">Add video idea</a>
</div>